html, body {
    height: 95%;
}

/* url("../images/jupiter.jpg") center center no-repeat */
#cover {
    background: #222 ;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
#contentContainer {
    height: 80%;
    width: 80%;
    align-items: center;

}
#trendingButtons.absolute {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 100%;
}
#submitButtonForm {
    text-align: center;
    align-items: center;
}
#cover-caption {
    width: 100%;
}
h1, h6 {
    align-content: center;
    text-align: center;
} 
/* LOGO IMAGE */
.logoImage {
    width: 70px;
    height: 70px;
}
/* SEARCH IMAGE */
.searchImage {
    width: 20px;    
    height: 20px;      
}
/* LIGHTBOX - SIGN UP */
.lightbox {
    position: absolute;
    top: 150px;
    left: 350px;
    display: none;
    width: 50%;
    height: 60%;
    padding: 100px;
    color: #000000;
    background-color: #F79090;
    text-align: center;
    text-shadow: #333 0 1px 0;
    opacity: .9;
    /* align-content: center; */
}
/* LIGHTBOX - NAME INPUT */
input[type="name"], input[type="email"], input[type="submit"] {
    margin: 8px;
    padding: 6px 12px;
    outline: none;
    border-radius: 4px;
    box-shadow: inset 0 0 3px 3px #fafafa;
}
.ketchupSticker {
    height: 400px;
    /* padding-bottom: 50px; */
}
/* NAVBAR - ACTIVE - WHO WE ARE - CONTACT US */
li[class="nav-item"], li[class="nav-item active"] {
    font-size: 12px;
}